@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');

:root {
    --sp-white: #fff;
    --sp-white-secondary: #fafafa;
    --sp-black: #2D3954;
    --sp-green: #00966a;
    --sp-green-dark: #07835e;
    --sp-green-rgba-05: rgba(0, 150, 106, .05);
    --sp-red: #960000;
    --sp-red-light: #be0e0e;
    --sp-blue: #144273;
    --sp-grey: #dee2e6;

    --sp-transition: all .2s ease-in-out;
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 320px;
    color: var(--sp-black);
    background-color: var(--sp-white);
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--sp-black);
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: var(--sp-transition);
}

.btn,
.form-control {
    outline: none !important;
    box-shadow: none !important;
}

main>section:first-child {
    margin-top: 80px;
}

.form-control {
    padding-right: 32px;
}

.form-control:focus,
.form-control:hover {
    border-color: var(--sp-green);
}

.simple-input {
    position: relative;
}

.simple-input::after {
    position: absolute;
    right: 20px;
    top: 50%;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: var(--sp-green);
    transform: rotate(45deg) translateY(-50%);
}

.list-unstyled {
    list-style: none;
}

/* Colors */
.sp-white {
    color: var(--sp-white);
}

.sp-black {
    color: var(--sp-black);
}

.sp-green {
    color: var(--sp-green);
}

.sp-blue {
    color: var(--sp-blue);
}

/* Text */
.heading-1 {
    font-weight: 700;
}

.heading-2 {
    font-weight: 700;
}

.heading-3 {
    font-weight: 700;
}

.heading-4 {
    font-weight: 700;
}

/* Breadcrumb */
.sp-breadcrumb {
    justify-content: center;
}

.sp-breadcrumb a {
    color: var(--sp-blue);
    font-size: 14px;
    line-height: 1;
}

.sp-breadcrumb .breadcrumb-item.active {
    color: var(--sp-black);
}

.sp-property .sp-breadcrumb a {
    color: var(--sp-white);
}

.sp-property .sp-breadcrumb .breadcrumb-item.active {
    color: var(--sp-grey);
}

/* Header */
.sp-header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--sp-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
    z-index: 999;
}

.sp-header__logo {
    width: 170px;
    height: auto;
}

.sp-header .navbar-light .navbar-nav .nav-link {
    color: var(--sp-blue);
    font-size: 14px;
    font-weight: 500;
    transition: var(--sp-transition);
}

.sp-header .navbar-light .navbar-nav .nav-link.active,
.sp-header .navbar-light .navbar-nav .nav-link:hover {
    color: var(--sp-green);
}

.sp-header .dropdown-toggle::after {
    width: 6px;
    height: 6px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: var(--sp-blue);
    transform: rotate(45deg);
    transition: var(--sp-transition);
}

.sp-header .dropdown-toggle.active::after,
.sp-header .dropdown-toggle:hover::after {
    border-color: var(--sp-green);
}

.sp-header .navbar-expand-lg .navbar-nav {
    gap: 1rem;
}

.sp-header .dropdown-menu {
    width: 240px;
    padding: .5rem 1rem;
    box-shadow: 0px 0px 42px 0px rgba(32, 32, 32, 0.15);
    border: none;
}

.sp-header .dropdown-menu.small {
    width: 160px;
}

.sp-header .dropdown-item {
    padding: 1rem .5rem;
    color: var(--sp-blue);
    font-size: 14px;
    font-weight: 500;
    transition: var(--sp-transition);
}

.sp-header .dropdown-item:hover,
.sp-header .dropdown-item:focus,
.sp-header .dropdown-item:active {
    background-color: transparent;
    color: var(--sp-green);
    padding-left: 1.5rem;
}

.sp-header .dropdown-menu li:not(:last-child) .dropdown-item {
    border-bottom: 1px solid var(--sp-grey);
}

.sp-header .btn-sign {
    display: inline-flex;
    align-items: center;
    color: var(--sp-green);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: var(--sp-transition);
    gap: 5px;
}

.sp-header .btn-sign::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(img/i-sign.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sp-header .btn-add {
    padding: .5rem 1.5rem;
    color: var(--sp-white);
    background-color: var(--sp-green);
    transition: var(--sp-transition);
}

.sp-header .btn-add:hover {
    background-color: var(--sp-green-dark);
}

@media (max-width: 991px) {
    .sp-header {
        min-height: 80px;
        height: auto;
    }

    .sp-header .navbar-expand-lg .navbar-nav {
        gap: 0;
    }

    .sp-header .btn-sign {
        padding-left: 0;
    }
}

/* Property */
.sp-property {
    position: relative;
}

.sp-property::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/bg-developers.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.sp-property__form {
    max-width: 768px;
    margin: auto;
}

/* Accordion */
.accordion-button:not(.collapsed),
.accordion-button:hover {
    color: var(--sp-green-dark);
    background-color: var(--sp-green-rgba-05);
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300966a'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* Pagination */
.sp-pagination {
    gap: .5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}


.sp-pagination__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 100%;
    width: 30px;
    height: 30px;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: var(--sp-black);
    border: 1px solid var(--sp-grey);
    border-radius: .25rem;
    transition: var(--sp-transition);
}

.sp-pagination__link:hover,
.sp-pagination__link:focus {
    color: var(--sp-green);
    background-color: var(--sp-white);
    border-color: var(--sp-green);
    outline: none;
}

.sp-pagination__link.active {
    color: var(--sp-white);
    background-color: var(--sp-green);
    border-color: var(--sp-green);
}

.sp-pagination__link.borderless {
    border: none;
}

.sp-pagination__link.arrow-next,
.sp-pagination__link.arrow-prev {
    width: 25px;
    border: none;
}

.sp-pagination__link.arrow-prev {
    transform: rotate(180deg);
}

/* Table */
.sp-table {
    color: var(--sp-black);
    margin-bottom: 0;
    min-width: 768px;
}

.sp-table-wrapper {
    background-color: var(--sp-white);
    padding: 1rem 1rem 0;
    border-radius: .5rem;
}

.sp-table-wrapper .table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: var(--sp-green-rgba-05);
}

.sp-table a {
    color: var(--sp-green);
}

.sp-table .img-wrapper {
    width: 100%;
    height: 240px;
}

.sp-table .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

/* About */
.sp-about__info-video {
    float: left;
    line-height: 1;
    padding: 0 2rem .5rem 0;
    width: 50%;
}

.sp-about__info-video iframe {
    width: 100%;
    height: 320px;
    border-radius: .5rem;
}

.sp-about__video {
    line-height: 1;
    width: 100%;
}

.sp-about__video iframe {
    width: 100%;
    height: 380px;
    border-radius: .5rem;
}

.sp-about__info-img {
    float: left;
    line-height: 1;
    padding: 0 2rem .5rem 0;
    width: 50%;
}

.sp-about__info-img img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

.sp-about__info-logo {
    float: left;
    line-height: 1;
    padding: 0 2rem .5rem 0;
    width: 33%;
}

.sp-about__info-logo img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

.sp-about__info p:not(:last-child) {
    margin-bottom: .5rem;
}

.sp-about__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}

.sp-about__tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    padding: .5rem .75rem;
    border-radius: 40px;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--sp-green);
    color: var(--sp-white);
}

a.sp-about__tag:hover {
    color: var(--sp-white);
}

@media (max-width: 991px) {
    .sp-about__info-video {
        width: 100%;
        float: unset;
    }

    .sp-about__info-video {
        padding: 0;
        margin-bottom: 1rem;
    }
}

@media (max-width: 767px) {
    .sp-about__info-video iframe {
        height: 240px;
    }
}

/* CTA */
.sp-cta__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 380px;
    padding: 3rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--sp-white);
    border-radius: .5rem;
    text-align: center;
}

.sp-cta__inner .btn {
    padding: .5rem 1.5rem;
    color: var(--sp-white);
    background-color: var(--sp-green);
    border-radius: 50px;
    transition: var(--sp-transition);
}

.sp-cta__inner .btn:hover {
    background-color: var(--sp-green-dark);
}

@media (max-width: 575px) {
    .sp-cta__inner {
        padding: 1rem;
    }
}

/* Pills */
.sp-pills {
    display: inline-flex;
    padding: .25rem;
    gap: .5rem;
    background-color: var(--sp-white-secondary);
    border: 1px solid var(--sp-grey);
    border-radius: 50px;
}

.sp-pills.nav-pills .nav-link {
    color: var(--sp-green);
    border: 1px solid transparent;
    border-radius: 50px;
}

.sp-pills.nav-pills .nav-link:hover,
.sp-pills.nav-pills .nav-link:focus {
    border-color: var(--sp-green);
}

.sp-pills.nav-pills .nav-link.active,
.sp-pills.nav-pills .show>.nav-link {
    background-color: var(--sp-green);
    color: var(--sp-white);
}

/* Tabs */
.sp-tabs {
    display: inline-flex;
    gap: .5rem;
}

.sp-tabs.nav-pills .nav-link {
    color: var(--sp-black);
    background-color: transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
}

.sp-tabs.nav-pills .nav-link:hover,
.sp-tabs.nav-pills .nav-link:focus {
    border-color: var(--sp-green);
    color: var(--sp-green);
}

.sp-tabs.nav-pills .nav-link.active,
.sp-tabs.nav-pills .show>.nav-link {
    border-color: var(--sp-green);
    color: var(--sp-green);
}

.sp-tabs-thumb .nav-link {
    padding: 0;
    width: 180px;
    text-align: left;
}

.sp-tabs.nav-pills.sp-tabs-thumb .nav-link.active, .sp-tabs.nav-pills.sp-tabs-thumb .show>.nav-link {
    color: var(--sp-black);
}

.sp-tabs-thumb .nav-link .img-wrapper {
    width: 100%;
    height: 100px;
    border-radius: .5rem;
    overflow: hidden;
}

.sp-tabs-thumb .nav-link .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Condos */
.sp-condos__list>*:not(:last-child) {
    margin-bottom: 2rem;
}

.sp-condos__item {
    display: block;
    color: var(--sp-black);
    background-color: var(--sp-white);
    box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.15);
    overflow: hidden;
}

.sp-condos__item:hover {
    color: var(--sp-black);
}

.sp-condos__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--sp-black);
}

.sp-condos__price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.sp-condos__price>p:first-child {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--sp-red);
}

.sp-condos__text>p:not(:last-child) {
    margin-bottom: .5rem;
}

.sp-condos__data {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sp-condos__data-item {
    display: flex;
    align-items: center;
    gap: .25rem;
    line-height: 1;
}

.sp-condos__tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: .25rem;
}

.sp-condos__tag {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 .75rem;
    border-radius: 40px;
}

.sp-condos__tag.green {
    background: rgba(37, 181, 121, 0.1);
    color: #25b579;
}

.sp-condos__tag.red {
    background: rgba(255, 87, 34, 0.1);
    color: #ff5722;
}

.sp-condos__tag.blue {
    background: rgba(34, 67, 255, 0.1);
    color: #2243ff;
}

.sp-condos__stars {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.sp-condos__stars img {
    width: 16px;
    height: 16px;
}

.sp-condos__stars.big img {
    width: 24px;
    height: 24px;
}

.sp-condos__btn {
    padding: 1rem 1.5rem;
    background-color: var(--sp-green);
    color: var(--sp-white);
    line-height: 1;
}

.sp-condos__btn:hover {
    background-color: var(--sp-green-dark);
    color: var(--sp-white);
}

.sp-condos__btn-red {
    padding: 1rem 1.5rem;
    background-color: var(--sp-red-light);
    color: var(--sp-white);
    line-height: 1;
}

.sp-condos__btn-red:hover {
    background-color: var(--sp-red);
    color: var(--sp-white);
}

.sp-condos__btn-reset {
    background-color: transparent;
    color: var(--sp-red);
}

.sp-condos__btn-reset:hover {
    background-color: transparent;
    color: var(--sp-red);
}

.sp-condos__item.vertical .img-wrapper {
    width: 100%;
    height: 240px;
}

.sp-condos__item.vertical .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sp-condos__review .img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    overflow: hidden;
}

.sp-condos__review .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--sp-transition);
}

.sp-condos__review .img-wrapper:hover img {
    transform: scale(1.2);
}

@media (max-width: 575px) {
    .sp-condos__price {
        gap: 0;
    }
}

/* Img */
.sp-img-link {
    display: block;
    width: 100%;
    height: 400px;
    border-radius: .5rem;
    overflow: hidden;
    transition: var(--sp-transition);
}

.sp-img-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sp-img-link:hover {
    opacity: .8;
}

/* List */
.sp-list__list {
    columns: 4;
    gap: 2rem;
}

.sp-list__list a {
    color: var(--sp-black);
    display: inline-block;
    margin-bottom: .5rem;
}

.sp-list__list a:hover {
    color: var(--sp-green);
}

@media (max-width: 991px) {
    .sp-list__list {
        columns: 3;
        gap: 2rem;
    }
}

@media (max-width: 767px) {
    .sp-list__list {
        columns: 2;
        gap: 1rem;
    }
}

@media (max-width: 575px) {
    .sp-list__list {
        columns: 1;
        gap: 0;
    }
}

/* Map */
.sp-map {
    width: 100%;
    height: auto;
}

.sp-map iframe {
    width: 100%;
    height: 400px;
}

/* Swiper */
.sp-condos .swiper {
    width: 100%;
    height: 100%;
}

.sp-condos .swiper-slide .img-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sp-condos .swiper-slide .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.sp-condos .swiper-pagination-bullet-active {
    background-color: var(--sp-green);
}

.sp-gallery .swiper {
    width: 100%;
    height: 100%;
    --swiper-navigation-color: #fff;
}

.sp-gallery .swiper-slide .img-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sp-gallery .swiper-slide .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.sp-gallery .swiper-pagination-bullet-active {
    background-color: var(--sp-green);
}

.sp-gallery-fix-height.sp-gallery .swiper-slide .img-wrapper {
    height: 400px;
}

.swiper-property .swiper-slide {
    padding: 1rem;
    background-color: var(--sp-green-rgba-05);
    border-radius: .5rem;
}

.swiper-property .swiper-slide p {
    color: var(--sp-green);
}

.swiper-property-with-img .swiper-slide {
    border-radius: .5rem;
    border: 1px solid var(--sp-black);
    display: flex;
    overflow: hidden;
    color: var(--sp-black);

}

.swiper-property-with-img .swiper-slide .img-wrapper {
    width: 40%;
}

.swiper-property-with-img .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sp-about__swiper .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.sp-about__swiper .swiper-slide {
    background-size: cover;
    background-position: center;
}

.sp-about__swiper .mySwiper2 {
    height: 80%;
    width: 100%;
}

.sp-about__swiper .mySwiper2 .swiper-slide {
    height: 640px;
}

.sp-about__swiper .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.sp-about__swiper .mySwiper .swiper-slide {
    width: 25%;
    height: 200px;
    opacity: 1;
}

.sp-about__swiper .mySwiper .swiper-slide-thumb-active {
    opacity: .75;
}

.sp-about__swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

@media (max-width: 991px) {
    .sp-about__swiper .mySwiper2 .swiper-slide {
        height: 540px;
    }
}

@media (max-width: 767px) {
    .sp-about__swiper .mySwiper2 .swiper-slide {
        height: 480px;
    }
}

@media (max-width: 575px) {
    .sp-about__swiper .mySwiper2 .swiper-slide {
        height: 360px;
    }
}

/* Widget */
.sp-widget__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

@media (max-width: 991px) {
    .sp-widget__inner {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 575px) {
    .sp-widget__inner {
        grid-template-columns: 1fr;
    }
}

/* Progress */
.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 4s;
}

.progress-bar-success {
    background-color: var(--sp-green);
}

@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

/* footer*/
.sp-footer {
    background-color: var(--sp-green);
    color: var(--sp-white);
    font-size: 14px;
    font-weight: 500;
}

.sp-footer a {
    color: var(--sp-white);
    font-size: 14px;
    font-weight: 500;
}

.sp-footer a:hover {
    color: var(--sp-white);
}

.sp-footer .nav-link.dropdown-toggle {
    color: var(--sp-white)
}

.sp-footer .dropdown-toggle::after {
    width: 6px;
    height: 6px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: var(--sp-white);
    transform: rotate(45deg);
    transition: var(--sp-transition);
}

.sp-footer .dropdown-menu {
    width: 240px;
    padding: .5rem 1rem;
    box-shadow: 0px 0px 42px 0px rgba(32, 32, 32, 0.15);
    border: none;
}

.sp-footer .dropdown-menu.small {
    width: 160px;
}

.sp-footer .dropdown-item {
    padding: 1rem .5rem;
    color: var(--sp-blue);
    font-size: 14px;
    font-weight: 500;
    transition: var(--sp-transition);
}

.sp-footer .dropdown-item:hover,
.sp-footer .dropdown-item:focus,
.sp-footer .dropdown-item:active {
    background-color: transparent;
    color: var(--sp-green);
    padding-left: 1.5rem;
}

.sp-footer .dropdown-menu li:not(:last-child) .dropdown-item {
    border-bottom: 1px solid var(--sp-grey);
}

.my-p-1 {
    padding: 0.5rem!important;