{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'property/css/style.css' %}">
    <meta name="description" content="{{ meta.description }}"/>
    <title>{{ meta.title }}</title>
</head>

<body>
    <header class="sp-header py-1">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand d-inline-block me-4" href="#">
                    Logo
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex align-items-lg-center justify-content-lg-between"
                    id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink1"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Buy
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                <li><a class="dropdown-item" href="#">Item 1</a></li>
                                <li><a class="dropdown-item" href="#">Item 2</a></li>
                                <li><a class="dropdown-item" href="#">Item 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Rent
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                <li><a class="dropdown-item" href="#">Item 1</a></li>
                                <li><a class="dropdown-item" href="#">Item 2</a></li>
                                <li><a class="dropdown-item" href="#">Item 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Sell
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                <li><a class="dropdown-item" href="#">Item 1</a></li>
                                <li><a class="dropdown-item" href="#">Item 2</a></li>
                                <li><a class="dropdown-item" href="#">Item 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Projects
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                                <li><a class="dropdown-item" href="#">Item 1</a></li>
                                <li><a class="dropdown-item" href="#">Item 2</a></li>
                                <li><a class="dropdown-item" href="#">Item 3</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                        <ul class="navbar-nav me-lg-2">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    AED
                                </a>
                                <ul class="dropdown-menu small" aria-labelledby="navbarDropdownMenuLink1">
                                    <li><a class="dropdown-item" href="#">THB</a></li>
                                    <li><a class="dropdown-item" href="#">ARS</a></li>
                                    <li><a class="dropdown-item" href="#">AUD</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    EN
                                </a>
                                <ul class="dropdown-menu small" aria-labelledby="navbarDropdownMenuLink2">
                                    <li><a class="dropdown-item" href="#">UA</a></li>
                                    <li><a class="dropdown-item" href="#">RU</a></li>
                                    <li><a class="dropdown-item" href="#">ES</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="btn-wrapper mb-2 mb-lg-0 me-lg-3">
                            <a href="#" class="btn btn-sign">Sign In</a>
                        </div>
                        <div class="btn-wrapper">
                            <a href="#" class="btn btn-add">List your property</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <section class="sp-contacts mb-4 mb-lg-5 py-4 py-lg-5">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb sp-breadcrumb sp-breadcrumb-white">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contacts</li>
                    </ol>
                </nav>
                <div class="sp-heading text-center">
                    <span>Get In Touch</span>
                    <h1 class="heading-1 sp-white">Get Helps & Friendly Support</h1>
                    <p class="sp-white">Looking for help or any support? We's available 24 hour a day.</p>
                </div>
                <div class="sp-contacts__grid">
                    <div class="sp-contacts__grid-item">
                        <i class="fa fa-user-o"></i>
                        <h2 class="heading-2">Contact Sales</h2>
                        <span>sales@rikadahelp.co.uk</span>
                        <span>+01 215 245 6258</span>
                    </div>
                    <div class="sp-contacts__grid-item">
                        <i class="fa fa-commenting-o"></i>
                        <h2 class="heading-2">Start Live Chat</h2>
                        <span>+01 215 245 6258</span>
                        <a href="#">Live Chat</a>
                    </div>
                    <div class="sp-contacts__grid-item">
                        <i class="fa fa-user-o"></i>
                        <h2 class="heading-2">Contact Sales</h2>
                        <span>sales@rikadahelp.co.uk</span>
                        <span>+01 215 245 6258</p>
                    </div>
                    <div class="sp-contacts__form">
                        <p class="heading-3 mb-3">Fillup The Form</p>
                        <form method="POST" action="{% url 'contacts' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group mb-3">
                                        <label for="{{ form.name.id_for_label }}">Name</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group mb-3">
                                        <label for="{{ form.email.id_for_label }}">Email</label>
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="{{ form.subject.id_for_label }}">Subject</label>
                                {{ form.subject }}
                            </div>
                            <div class="form-group mb-4">
                                <label for="{{ form.message.id_for_label }}">Message</label>
                                {{ form.message }}
                            </div>
                            <div class="form-group">
                                <button class="btn sp-condos__btn" type="submit">Submit Request</button>
                            </div>
                        </form>
                    </div>
                    <div class="sp-contacts__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248057.20399581234!2d100.46795776566758!3d13.72487823912011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d6032280d61f3%3A0x10100b25de24820!2z0JHQsNC90LPQutC-0LosINCi0LDQuNC70LDQvdC0!5e0!3m2!1sru!2sua!4v1684681000985!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="sp-footer py-3 mt-4">
        <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Thailand
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                        <li><a class="dropdown-item" href="#">Nepal</a></li>
                        <li><a class="dropdown-item" href="#">India</a></li>
                        <li><a class="dropdown-item" href="#">China</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Buy</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Rent</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Sell</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Projects</a></li>
            </ul>
            <div class="d-flex flex-column flex-sm-row justify-content-between">
                <ul class="nav justify-content-center justify-content-sm-start">
                    <li class="nav-item"><a href="#" class="nav-link pe-2">Privacy</a></li>
                    <li class="nav-item"><a href="#" class="nav-link pe-2">Contact</a></li>
                    <li class="nav-item"><a href="#" class="nav-link pe-2">Press</a></li>
                    <li class="nav-item"><a href="#" class="nav-link pe-2">Careers</a></li>
                    <li class="nav-item"><a href="#" class="nav-link pe-2">Sitemap</a></li>
                    <li class="nav-item"><a href="#" class="nav-link pe-2">Virtual Real Estate</a></li>
                </ul>
                <p class="text-center">© 2023 <a href="#">bangkok-condos-for-sale.com</a></p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'property/js/script.js' %}"></script>
</body>

</html>