{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'property/css/style.css' %}">
    <meta name="description" content="{{ meta.description }}"/>
    <title>{{ meta.title }}</title>
</head>

<body>
    <header class="sp-header py-1">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand d-inline-block me-4" href="#">
                    Logo
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex align-items-lg-center justify-content-lg-between"
                    id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink1"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Buy
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                <li><a class="dropdown-item" href="#">Item 1</a></li>
                                <li><a class="dropdown-item" href="#">Item 2</a></li>
                                <li><a class="dropdown-item" href="#">Item 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Rent
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                <li><a class="dropdown-item" href="#">Item 1</a></li>
                                <li><a class="dropdown-item" href="#">Item 2</a></li>
                                <li><a class="dropdown-item" href="#">Item 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Sell
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                <li><a class="dropdown-item" href="#">Item 1</a></li>
                                <li><a class="dropdown-item" href="#">Item 2</a></li>
                                <li><a class="dropdown-item" href="#">Item 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Projects
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                                <li><a class="dropdown-item" href="#">Item 1</a></li>
                                <li><a class="dropdown-item" href="#">Item 2</a></li>
                                <li><a class="dropdown-item" href="#">Item 3</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                        <ul class="navbar-nav me-lg-2">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    AED
                                </a>
                                <ul class="dropdown-menu small" aria-labelledby="navbarDropdownMenuLink1">
                                    <li><a class="dropdown-item" href="#">THB</a></li>
                                    <li><a class="dropdown-item" href="#">ARS</a></li>
                                    <li><a class="dropdown-item" href="#">AUD</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    EN
                                </a>
                                <ul class="dropdown-menu small" aria-labelledby="navbarDropdownMenuLink2">
                                    <li><a class="dropdown-item" href="#">UA</a></li>
                                    <li><a class="dropdown-item" href="#">RU</a></li>
                                    <li><a class="dropdown-item" href="#">ES</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="btn-wrapper mb-2 mb-lg-0 me-lg-3">
                            <a href="#" class="btn btn-sign">Sign In</a>
                        </div>
                        <div class="btn-wrapper">
                            <a href="#" class="btn btn-add">List your property</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <section class="sp-widget mb-4 mb-lg-5 py-4 py-lg-5">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb sp-breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Projects</li>
                    </ol>
                </nav>
                <div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-between mb-3">
                    <h2 class="heading-2 mb-3 mb-lg-0">Top Real Estate Projects in Thailand</h2>
                    <div class="sp-pills-wrapper">
                        <ul class="nav nav-pills sp-pills" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <button class="nav-link active" id="pills-complete-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-complete" type="button" role="tab"
                                    aria-controls="pills-complete" aria-selected="true">All</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="pills-off-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-off" type="button" role="tab" aria-controls="pills-off"
                                    aria-selected="false">Off Plan</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="pills-ready-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-ready" type="button" role="tab" aria-controls="pills-ready"
                                    aria-selected="false">Ready to Move</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sp-widget__inner">
                    <div class="form-group">
                        <div class="input-with-icon">
                            <input type="text" class="form-control" placeholder="Neighborhood">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-with-icon">
                            <input type="text" class="form-control" placeholder="Location">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="simple-input">
                            <select id="ptype" class="form-control select2-hidden-accessible" tabindex="-1"
                                aria-hidden="true">
                                <option value="" selected disabled>Property Types</option>
                                <option value="1">Apartment</option>
                                <option value="2">Condo</option>
                                <option value="3">Family</option>
                                <option value="4">Houses</option>
                                <option value="5">Villa</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="simple-input">
                            <select id="price" class="form-control select2-hidden-accessible" tabindex="-1"
                                aria-hidden="true">
                                <option value="" selected disabled>Price Range</option>
                                <option value="1">Less Then $1000</option>
                                <option value="2">$1000 - $2000</option>
                                <option value="3">$2000 - $3000</option>
                                <option value="4">$3000 - $4000</option>
                                <option value="5">Above $5000</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="">
                                    <input type="text" class="form-control" placeholder="Min Price">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="">
                                    <input type="text" class="form-control" placeholder="Max Price">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="simple-input">
                            <select id="bedrooms" class="form-control select2-hidden-accessible" tabindex="-1"
                                aria-hidden="true">
                                <option value="" selected disabled>Bedrooms</option>
                                <option value="1">1+</option>
                                <option value="2">2+</option>
                                <option value="3">3+</option>
                                <option value="4">4+</option>
                                <option value="5">5+</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="simple-input">
                            <select id="bathrooms" class="form-control select2-hidden-accessible" tabindex="-1"
                                aria-hidden="true">
                                <option value="" selected disabled>Bathrooms</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="simple-input">
                            <select id="built" class="form-control select2-hidden-accessible" tabindex="-1"
                                aria-hidden="true">
                                <option value="" selected disabled>Year Built</option>
                                <option value="1">2010+</option>
                                <option value="2">2011+</option>
                                <option value="3">2012+</option>
                                <option value="4">2013+</option>
                                <option value="5">2014+</option>
                                <option value="6">2015+</option>
                                <option value="7">2016+</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="">
                                    <input type="text" class="form-control" placeholder="Min Area">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="">
                                    <input type="text" class="form-control" placeholder="Max Area">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="simple-input">
                            <select id="sort" class="form-control select2-hidden-accessible" tabindex="-1"
                                aria-hidden="true">
                                <option value="" selected>Sort: Recommended</option>
                                <option value="2">Sort: Price (low to high)</option>
                                <option value="3">Sort: Price (high to low)</option>
                                <option value="4">Sort: Best Value for Money</option>
                                <option value="5">Sort: Highest Guar. Rental Returns</option>
                                <option value="6">Sort: Completion Date</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h6>Features</h6>
                            <ul class="list-unstyled row p-0 m-0 pt-2">
                                <li class="col-lg-4 col-md-6 p-0">
                                    <input id="a-1" class="checkbox-custom" name="a-1" type="checkbox">
                                    <label for="a-1" class="checkbox-custom-label">Feature 1</label>
                                </li>
                                <li class="col-lg-4 col-md-6 p-0">
                                    <input id="a-2" class="checkbox-custom" name="a-2" type="checkbox">
                                    <label for="a-2" class="checkbox-custom-label">Feature 2</label>
                                </li>
                                <li class="col-lg-4 col-md-6 p-0">
                                    <input id="a-3" class="checkbox-custom" name="a-3" type="checkbox">
                                    <label for="a-3" class="checkbox-custom-label">Feature 3</label>
                                </li>
                                <li class="col-lg-4 col-md-6 p-0">
                                    <input id="a-4" class="checkbox-custom" name="a-4" type="checkbox">
                                    <label for="a-4" class="checkbox-custom-label">Feature 4</label>
                                </li>
                                <li class="col-lg-4 col-md-6 p-0">
                                    <input id="a-5" class="checkbox-custom" name="a-5" type="checkbox">
                                    <label for="a-5" class="checkbox-custom-label">Feature 5</label>
                                </li>
                                <li class="col-lg-4 col-md-6 p-0">
                                    <input id="a-6" class="checkbox-custom" name="a-6" type="checkbox">
                                    <label for="a-6" class="checkbox-custom-label">Feature 6</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 d-flex align-items-end">
                            <button class="btn sp-condos__btn">View Results</button>
                            <button class="btn sp-condos__btn sp-condos__btn-reset">Reset Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sp-condos mb-4 mb-lg-5 pb-4 pb-lg-5">
            <div class="container">
                <div class="sp-condos__list row">
                    {% for project in page_obj %}
                        <div class="col-12 col-md-6 col-lg-3">
                            <a href="/project/{{ project.project_slug }}/" class="sp-condos__item vertical rounded">
                                <div class="img-wrapper">
                                    <img src="img/img-p-1.webp" alt="">
                                </div>
                                <div class="p-3">
                                    <div class="sp-condos__info border-bottom pb-2 mb-3">
                                        <h3 class="sp-condos__title">{{ project.project_name }}</h3>
                                        <p class="sp-condos__address">{{ project.address }}, {{ project.location }}, {{ project.area }}</p>
                                    </div>
                                    <div class="border-bottom pb-3 mb-3">
                                        <p>Sales from</p>
                                        <div class="sp-condos__price d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center mb-2">
                                            <p class="mb-0">{{ project.starting_price }} - {{ project.price }} THB</p>
                                        </div>
                                        <p>Rental from</p>
                                        <div class="sp-condos__price d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center">
                                            <p class="mb-0">{{ project.starting_price_rent }} - {{ project.price_rent }} THB</p>
                                        </div>
                                    </div>
                                    <div class="sp-condos__tags mb-2">
                                        <div class="sp-condos__tag red">{{ project.units_num }} (Number of units)</div>
                                        <div class="sp-condos__tag green">{{ project.completion_date }} (Off Plan)</div>
                                    </div>
                                    <div class="sp-condos__tags">
                                        <div class="sp-condos__tag blue">{{ project.beach_distance }}km - {{ project.beach_name }}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <p class="text-center mt-4">Showing 1 - 8 of {{ len_projects }} Results</p>
                <nav class="d-flex justify-content-center mt-4" aria-label="Page navigation">
                    <ul class="sp-pagination d-flex align-items-center">

                            <!-- Попередній елемент -->
                        <li class="sp-pagination__item">
                            {% if page_obj.has_previous %}
                            <a class="sp-pagination__link arrow-prev" href="?page={{ page_obj.previous_page_number }}">
                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                                </svg>
                            </a>
                            {% endif %}
                        </li>

                        <!-- Перша сторінка -->
                        {% if page_obj.number > 2 %}
                        <li class="sp-pagination__item">
                            <a class="sp-pagination__link {% if page_obj.number == 1 %}active{% endif %}" href="?page=1">1</a>
                        </li>
                        {% endif %}

                        <!-- Елементи пагінації -->
                        {% if page_obj.number > 3 %}
                            <li class="sp-pagination__item">
                                <a class="sp-pagination__link borderless" href="#">...</a>
                            </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if num > page_obj.number|add:-2 and num < page_obj.number|add:2 %}
                                <li class="sp-pagination__item">
                                    <a class="sp-pagination__link {% if page_obj.number == num %}active{% endif %}" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.number < page_obj.paginator.num_pages|add:-2 %}
                            <li class="sp-pagination__item">
                                <a class="sp-pagination__link borderless" href="#">...</a>
                            </li>
                        {% endif %}

                        {% if page_obj.paginator.num_pages > page_obj.number|add:1  %}
                                    <li class="sp-pagination__item">
                                        <a class="sp-pagination__link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                                    </li>
                        {% endif %}

                        <!-- Наступний елемент -->
                        <li class="sp-pagination__item">
                            {% if page_obj.has_next %}
                            <a class="sp-pagination__link arrow-next" href="?page={{ page_obj.next_page_number }}">
                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                                </svg>
                            </a>
                            {% endif %}
                        </li>

                    </ul>
                </nav>
            </div>
        </section>

        <section class="sp-list mb-4 mb-lg-5 pb-4 pb-lg-5">
            <div class="container">
                <h2 class="heading-2 mb-3">Thailand Real Estate Projects by Region</h2>
                <ul class="sp-list__list">
                    <li>
                        <a href="#">Bangkok Projects</a>
                    </li>
                    <li>
                        <a href="#">Buri Ram Projects</a>
                    </li>
                    <li>
                        <a href="#">Chachoengsao Projects</a>
                    </li>
                    <li>
                        <a href="#">Chaiyaphum Projects</a>
                    </li>
                    <li>
                        <a href="#">Chanthaburi Projects</a>
                    </li>
                    <li>
                        <a href="#">Chiang Mai Projects</a>
                    </li>
                    <li>
                        <a href="#">Chiang Rai Projects</a>
                    </li>
                    <li>
                        <a href="#">Chon Buri Projects</a>
                    </li>
                    <li>
                        <a href="#">Chumphon Projects</a>
                    </li>
                    <li>
                        <a href="#">Kalasin Projects</a>
                    </li>
                    <li>
                        <a href="#">Kanchanaburi Projects</a>
                    </li>
                    <li>
                        <a href="#">Khon Kaen Projects</a>
                    </li>
                    <li>
                        <a href="#">Krabi Projects</a>
                    </li>
                    <li>
                        <a href="#">Lampang Projects</a>
                    </li>
                    <li>
                        <a href="#">Lamphun Projects</a>
                    </li>
                    <li>
                        <a href="#">Loei Projects</a>
                    </li>
                    <li>
                        <a href="#">Lop Buri Projects</a>
                    </li>
                    <li>
                        <a href="#">Maha Sarakham Projects</a>
                    </li>
                    <li>
                        <a href="#">Mukdahan Projects</a>
                    </li>
                    <li>
                        <a href="#">Nakhon Nayok Projects</a>
                    </li>
                    <li>
                        <a href="#">Nakhon Pathom Projects</a>
                    </li>
                    <li>
                        <a href="#">Nakhon Phanom Projects</a>
                    </li>
                    <li>
                        <a href="#">Nakhon Ratchasima Projects</a>
                    </li>
                    <li>
                        <a href="#">Nakhon Sawan Projects</a>
                    </li>
                    <li>
                        <a href="#">Nakhon Si Thammarat Projects</a>
                    </li>
                    <li>
                        <a href="#">Nan Projects</a>
                    </li>
                    <li>
                        <a href="#">Nong Khai Projects</a>
                    </li>
                    <li>
                        <a href="#">Nonthaburi Projects</a>
                    </li>
                    <li>
                        <a href="#">Pathum Thani Projects</a>
                    </li>
                    <li>
                        <a href="#">Pattani Projects</a>
                    </li>
                    <li>
                        <a href="#">Phangnga Projects</a>
                    </li>
                    <li>
                        <a href="#">Phayao Projects</a>
                    </li>
                    <li>
                        <a href="#">Phetchabun Projects</a>
                    </li>
                    <li>
                        <a href="#">Phetchaburi Projects</a>
                    </li>
                    <li>
                        <a href="#">Phitsanulok Projects</a>
                    </li>
                    <li>
                        <a href="#">Phra Nakhon Si Ayutthaya Projects</a>
                    </li>
                    <li>
                        <a href="#">Phuket Projects</a>
                    </li>
                    <li>
                        <a href="#">Prachin Buri Projects</a>
                    </li>
                    <li>
                        <a href="#">Prachuap Khiri Khan Projects</a>
                    </li>
                    <li>
                        <a href="#">Ranong Projects</a>
                    </li>
                    <li>
                        <a href="#">Ratchaburi Projects</a>
                    </li>
                    <li>
                        <a href="#">Rayong Projects</a>
                    </li>
                    <li>
                        <a href="#">Roi Et Projects</a>
                    </li>
                    <li>
                        <a href="#">Sakon Nakhon Projects</a>
                    </li>
                    <li>
                        <a href="#">Samut Prakan Projects</a>
                    </li>
                    <li>
                        <a href="#">Samut Sakhon Projects</a>
                    </li>
                    <li>
                        <a href="#">Samut Songkhram Projects</a>
                    </li>
                    <li>
                        <a href="#">Saraburi Projects</a>
                    </li>
                    <li>
                        <a href="#">Songkhla Projects</a>
                    </li>
                    <li>
                        <a href="#">Suphan Buri Projects</a>
                    </li>
                    <li>
                        <a href="#">Surat Thani Projects</a>
                    </li>
                    <li>
                        <a href="#">Surin Projects</a>
                    </li>
                    <li>
                        <a href="#">Tak Projects</a>
                    </li>
                    <li>
                        <a href="#">Trang Projects</a>
                    </li>
                    <li>
                        <a href="#">Trat Projects</a>
                    </li>
                    <li>
                        <a href="#">Ubon Ratchathani Projects</a>
                    </li>
                    <li>
                        <a href="#">Udon Thani Projects</a>
                    </li>
                </ul>
            </div>
        </section>
    </main>

    <footer class="sp-footer py-3 mt-4">
        <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Thailand
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                        <li><a class="dropdown-item" href="#">Nepal</a></li>
                        <li><a class="dropdown-item" href="#">India</a></li>
                        <li><a class="dropdown-item" href="#">China</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Buy</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Rent</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Sell</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Projects</a></li>
            </ul>
            <div class="d-flex flex-column flex-sm-row justify-content-between">
                <ul class="nav justify-content-center justify-content-sm-start">
                    <li class="nav-item"><a href="#" class="nav-link pe-2">Privacy</a></li>
                    <li class="nav-item"><a href="#" class="nav-link pe-2">Contact</a></li>
                    <li class="nav-item"><a href="#" class="nav-link pe-2">Press</a></li>
                    <li class="nav-item"><a href="#" class="nav-link pe-2">Careers</a></li>
                    <li class="nav-item"><a href="#" class="nav-link pe-2">Sitemap</a></li>
                    <li class="nav-item"><a href="#" class="nav-link pe-2">Virtual Real Estate</a></li>
                </ul>
                <p class="text-center">© 2023 <a href="#">bangkok-condos-for-sale.com</a></p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'property/js/script.js' %}"></script>
</body>

</html>